*{
    padding: 0px;
    margin: 0px;
}
nav {
    border: 2px blue;
    width: 100%;
    padding: 10px;
    display: grid;
    align-items: center;
    overflow: hidden;
  }
  ul{
    list-style: none;
    display: grid;
    align-items: center;
    column-gap: 12px;
  }
  .container {
    display: grid;
    justify-content: space-between;
}
  .sidebar-left{
    height: 100vh;
    width: 250px;
    background-color: red;
    padding-top: 20px;
  }
  .sidebar-right {
      height: 100vh;
      width: 250px;
      background-color: #111;
      padding-top: 20px;
  }
